@charset "UTF-8";
/* CSS Document */

body {
    margin: 0px;
    padding: 0px;
    background-color: #bed4d3;
    color: #000;
    font-family:  "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    line-height: 1.6em;
}
#container {
  width: 1200px;
  margin: 0 auto;
  border: 0px solid #000;
  overflow: hidden;
}
#section {
    margin: 20px;
    padding: 5px;
}
#btn-group {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#header{
  width: 100%;
  padding: 0;
}
#btn-group {
    text-align: center;
}
img.banner {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
    margin-left: 50px;
    margin-right: 50px;
}
p.flow-text {
    padding: 10px;
    margin: 50px;
    border: 40px;
}
h4 {
    font-size: larger;
}