<html lang="en">
    <head>
    <meta charset="UTF=8">
        <body>
            <title>Dash</title>
            <link href="../static/style_pit.css" rel="stylesheet" type="text/css">
			<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    </head>
    <div class="container">
        <div id="header">
            <h3><img class="banner" src="../static/banner.gif" alt="PitHub"></h3>
        </div>
        <div class="section">
            <p style="text-align: center">
				 {% from "navbar.html" import render_nav %}
				{{ render_nav()}}
				</p>
            <p>
Hello, {{ name }}!
You own pet {% if pitname %}
{{ pitname }}
{% else %} Pit Bully! {% endif %}
<a href="/logout">logout</a>
            </p>
        </body>
        </div> <!--end section-->
        </div> <!--end container-->
</html>