{% macro render_nav() %}
    <div class="btn-group" role="group" aria-label="...">
  <a href="/home"><button type="button" class="btn btn-default">Home</button></a>
  <a href="/dash"><button type="button" class="btn btn-default">Dashboard</button></a>
  <a href="/pet"><button type="button" class="btn btn-default">Pet</button></a>
  <a href="/feed"><button type="button" class="btn btn-default">Feed</button></a>
  <a href="/settings"><button type="button" class="btn btn-default">Settings</button></a>
  <a href="/logout"><button type="button" class="btn btn-default">Logout</button></a>
</div>
 {% endmacro %}
 
 