{% macro render_nav() %}
    <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><a href="home.html"></a>Home</button>
  <button type="button" class="btn btn-default"><a href="/dash"></a>Dashboard</button>
  <button type="button" class="btn btn-default"><a href="/pet"></a>Pet</button>
  <button type="button" class="btn btn-default"><a href="/feed"></a>Feed</button>
  <button type="button" class="btn btn-default"><a href="/settings"></a>Settings</button>
  <button type="button" class="btn btn-default"><a href="/logout"></a>Logout</button>
</div>
 {% endmacro %}
 
 