<html lang="en">
	<head>
		<meta charset="UTF-8">
	<body>
		<header>
	<title>Settings</title>
	<link href="../static/style_pit.css" rel="stylesheet" type="text/css">
</header>
	</head>

    <div class="container">
		<!-- content -->
		<div id="header">
    	<h3><img class="banner" src="../static/banner.gif" alt="PitHub"></h3></div>
		<div class="section">
			<div class="">
				<h4 style="text-align:center;">PitHub</h4>
				<p class="flow-text">Change various settings below. Any text you enter, will change your settings, so beware....</p>
			</div>
        <div class="section row">
            <div class="col s12 m12">
              <form method=post>
                {% if error %}
                <p> {{ error }} </p>
                {% endif %}
                <p>
                  Github Username: <input type="text" name="gusername" value="" />
                  <select name="repos">
                    {% for repo in repos %}
                      <option>{{ repo.name }}</option>
                    {% endfor %}
                  </select>
                  Goal: <input type="number" name="commits" />
                  Add Repo: <input type="text" name="newrepo" value="" />
                  Password: <input type="password" name="password" value="" />
                  Petname: <input type="text" name="pitname" value="" />
                  You'll have to log out and log back in to see changes to your pet's name.
                </p>
                <p><button class="btn waves-effect waves-light" type="submit" name="submit">Submit</button></p>
              </form>
          </div>
        </div>
		</div>
	</div>


</body></html>
